.hand {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.npcHand {
  padding-left: 60px;
}

.card {
  flex-basis: 65px;
}

.userCard {
  cursor: grab;
  transition: transform 0.2s;
}

.userCard:hover {
  transform: translateY(-10px);
}

.npcCard {
  margin-left: -60px;
  background: center / contain no-repeat url("assets/card-back.jpg");
}

.npcCard img {
  visibility: hidden;
}

@media screen and (min-width: 640px) {
  .npcHand {
    padding-left: 50px;
  }

  .card {
    flex-basis: 75px;
  }

  .userCard {
    flex-basis: 80px;
  }

  .npcCard {
    margin-left: -50px;
  }
}
